*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

/* Layout */
.container {
  position: relative;
}

.header {
  margin: 0px auto;
  text-align: center;
}

.header__img--bw,
.header__img--color {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  border-radius: 50%;
  transform: translate(50%, 50%);
  transition: all .2s;
}

.header__img--bw {
  z-index: 1;
}

.header__img--color {
  z-index: 2;
}

.header__img--color:active {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

.footer {
}

/* Typography */
.heading-1 {
}

.heading-2 {
}
